

.container-fluid {
    padding: 3% 15%;
}

h1 {
    font-family: 'Montserrat';
    font-size: 3.5rem;
}

h2 {
    font-family: "Ubuntu";
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;

}

#sobre-mim {
    background-color: #ff4c68;
}

.sobre-mim-texto {
    color: #fff;
    font-family: "Russo One";
    font-size: 1.5rem;
    font-weight: normal;


}

#title {
    background-color: #ff4c68;
    color: #fff;
}

.nav-link {
    font-family: "Russo One";
    font-size: 1.3rem; 
    margin-right: 20px;
}

h3 {
    font-family: "Russo One";
    font-weight: normal;
    font-size: 2.5rem;
    color: #363636;
}

h5 {
    font-family: "Russo One";
    font-weight:bold ;
    font-size: 2rem;
    color: #363636;

}

p  {
    font-family: "Ubuntu";
    font-weight: normal;
    font-size: 1.5rem;
    color: #363636;
}
      

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding-bottom: 4.5rem;
}



.nav-item {
    padding: 0 18px;
}

.download-button {
    margin: 5% 3% 5% 0;
}

.float-end {
    width: 60%;
}

#features {
    padding: 8% 5% 7% 5%;
    
  
}

.feature-box {
    text-align: center;
}





.icon {
    color: #363636;
    padding: 4%;
    
}

.icon:hover {
    color: #ff4c68;
    cursor: pointer;
}

#sobre-mim {
    background-color: #ef8172;
    color: #fff;
    padding-top: 3%;
}

.sobre-mim-texto {
    font-size: 2.3rem;
}
#press {
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;
}

.press-logo {
    width: 10%;
    margin: 20px 20px 50px;
}


/**animado*/

